body {
	background-color:#fafafa;
}

.row img {
	border: 1px solid gray;
}

@keyframes float {
	0%{
		box-shadow: 5px 8px 6px 8px #8c8c8c;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 8px 6px 4px 4px #cccccc;
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 5px 8px 6px 8px #8c8c8c;
		transform: translatey(0px);
	}
}

.row img:hover {
	border: 1px solid black;
	box-shadow: 5px 10px #888888;
	animation: float 5s ease-in-out infinite;
}

#imageContainer {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1;
	width:100%;
	height:100%;
	background-color:black;
}

#bigImage {
	margin:auto;
	width:75%;
	display:block;
}

#buttons {
	margin:auto;
	width:75%;
	display:block;
	padding-top:20px;
	text-align:center;
}

#next {
	float:right;
}

#prev {
	float:left;
}

#close {
	color: red;
}
